@use "../../../variables" as *;

.editBox {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    h2 {
        display: flex;
        align-items: center;
        gap: 3px;
        margin-bottom: 15px;

        svg {
            color: $accent-color-blue;
        }
    }

    .pickers {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 15px;

        margin-bottom: 50px;
    }
}