@use "../../../variables" as *;

.editBox {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    h2 {
        display: flex;
        align-items: center;
        gap: 3px;
        margin-bottom: 15px;

        svg {
            color: $accent-color-blue;
        }
    }

    .pickers {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 15px;

        margin-bottom: 50px;
    }
}

button.shareBox, a.button.shareBox {
    --padding: 20px;
    width: 100%;
    display: flex;
    justify-content: start;
    padding: 10px var(--padding);

    svg {
        --hw: 23px;
        height: var(--hw);
        width: var(--hw);
    }
}

a.button.shareBox {
    width: calc(100% - var(--padding) * 2);
}

.importModal {
    .modal-content {
        min-width: 40%;
    }

    p {
        margin: 0;
        color: $font-muted;
    }

    textarea {
        font-family: $font-mono;
        resize: vertical;
        min-height: 100px;
        height: 100px;
    }
}