.preview {
    display: flex;
    flex-direction: column;

    padding: 20px;
    margin-bottom: 50px;

    border: 1px solid light-dark(rgba(0, 0, 0, .05), rgba(255, 255, 255, .05));

    font-family: 'JetBrains Mono', monospace;

    .line {
        display: flex;
        align-items: center;
    }
}